@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer verRecurso;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@verRecurso["textoSaludo"]</h1>
</div>
